<html xmlns="http://www.w3.org/1999/xhtml"
       xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>JavaScript Firebase Cloud Messaging (FCM) client</title>
        <link rel="manifest" href="manifest.json"/>

        <link rel="stylesheet" href="style.css"/>
        <script src="//code.jquery.com/jquery-3.5.1.min.js"></script>
        <script src="https://www.gstatic.com/firebasejs/7.19.1/firebase-app.js"></script>
        <script src="https://www.gstatic.com/firebasejs/7.19.1/firebase-messaging.js"></script>

    </head>
    <body>
        <h1>JavaScript Firebase Cloud Messaging (FCM) client</h1>

        <p>
            This page uses FCM to messages
        </p>

        <hr/>

        <h2 id="message">message loading</h2>

        <script>
            // Script to initialize firebase and receive messages.
            // In a real application this would be in a separate JavaScript file.
            
            $("#message").text("initializing service worker");

            // Initialize Firebase
            let config = {
                apiKey: "XXXXXXXX",
                authDomain: "XXXX.firebaseapp.com",
                databaseURL: "https://XXX",
                projectId: "XXXXX-1",
                storageBucket: "XXXXXX.appspot.com",
                messagingSenderId: "XXXXXXXX"
            };
            firebase.initializeApp(config);

            const messaging = firebase.messaging();
            
            navigator.serviceWorker.register("service-worker.js")
                .then(registration => {
                    messaging.useServiceWorker(registration);
                    return messaging.requestPermission();
                })
                .then(() => {
                    return messaging.getToken();
                })
                .then(currentToken => {
                    console.log("Here is the token: " + currentToken);
            
                    $.ajax({
                        url:"./fcm/register",
                        dataType: "text",
                        data: { "token": currentToken },
                        type: "POST",
                        success: function( data ) {
                            if (data === "OK") {
                                console.log("FCM RESULT: " + data);
                                $("#message").text("ready to receive messages");
                            } else {
                                console.log("FCM ERROR " + data);
                            }
                        },
                        error: function(xhr, status, error) {
                           console.log("ERROR: " + xhr.responseText);
                       }
                    });         
                    
                })
                .catch((err) => {
                    console.log(err.stack);
                });
        </script>

        <hr/>

        <a href="./">back</a>
    </body>
</html>
